{% extends 'base.html' %}
{% load i18n static %}
{% load custom_filters %}
{% block title %}{{ about.seo_title }}{% endblock  %}
        {% block description %}{{ about.seo_description|safe}}{% endblock  %}
        {% block keywords %}{{ about.seo_keywords  }}{% endblock  %} 

{% block content %}

    <main class="faq">
        <div class="container_about">
            <section class="vidiobox">
                <div class="video-wrapper">
                    <h2 class="avout_title">{{about.title}}</h2>
                    <!-- Олдин чиқадиган расм -->
                    <div class="video-overlay" id="overlay" data-video="{{about.video}}">
                        <img src="{{about.imagevideo.url}}" alt="Preview">
                        <div class="play-btn"><i class="fa-regular fa-circle-play"></i></div>
                    </div>

                    <!-- YouTube video (avval yashirin bo‘ladi) -->
                    <iframe id="ytVideo" width="100%" height="360" src="" title="YouTube video" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen style="display:none;">
                    </iframe>
                    <div class="text_content">
                        {{ about.content|safe }}
                        
                    </div>
                </div>



            </section>
        </div>
         {% if number %}
        <section>
            <div class="container_about">
                <h2 class="avout_title">{% trans "Kompaniyamiz raqamlarda" %}</h2>
            </div>

            <div class=" banner_about"
                style="background: url({{about.banerimg.url}}); background-repeat: no-repeat;background-position: center;background-size: cover;background-attachment: fixed;">
                <div class="container_about">
                    <ul class="banner_about_box">
                       {% for item in number %}
                      
                        <li>
                            <h3>{{item.raqamlar}}</h3>
                            <p>{{item.text}}</p>
                        </li>
                      {% endfor %}
                      
                    </ul>
                </div>
            </div>
        </section>
     {% endif %}
     {% if team  %}
        <section class="teams">
            <div class="container_about">
                <h3 class="avout_title">
                    {% trans "Bizning jamoa" %}
                </h3>
                <div class="teambox">
                    {% for tem in team %}
                    <div class="teamitem">
                        <div class="teamImg">
                            <img src="{{tem.image.url}}" alt=""></div>
                        <h3 class="teamname">{{tem.ismi}}</h3>
                        <p class="team_subject">{{tem.lavozimi}}</p>
                    </div>
                    {% endfor %}
                   
                   
                </div>
            </div>
        </section>
    {% endif %}
  {% if yutuq %}
<section class="galleriya">
  <div class="container_about">
    <h2 class="avout_title">{% trans "Biz haqimizda" %}</h2>
    <div class="galleriya_item">
      {% for yut in yutuq %}
  {% if yut.image %}
    <a href="{{ yut.image.url }}">
      <img src="{{ yut.image.url }}" alt="">
    </a>
  {% endif %}
{% endfor %}

    </div>
  </div>
</section>
{% endif %}

    </main>



  <section class="banner">
            <div class="container">
                <div class="bannerbox">
                    <div class="bannerleft">
                        <img class="bannerimg" src="{{bannerhome.image.url}}">

                    </div>
                    <div class="bannerright">
                        <h3>{{bannerhome.title}}</h3>
                        <p>{{bannerhome.text}}</p>
                        <a href="#" class="btn">{% trans "Bepul qo‘ng‘iroq" %}</a>

                    </div>
                </div>
        </section>
    {% endblock %}
  