{% extends 'base.html' %}
{% load i18n static %}
{% load custom_filters %}

{% block content %}

    <main class="faq">
        <div class="container_about">
            <section class="vidiobox">
                <div class="video-wrapper">
                    <h2 class="avout_title">Biz haqimizda</h2>
                    <!-- Олдин чиқадиган расм -->
                    <div class="video-overlay" id="overlay">
                        <img src="img/vido.png" alt="Preview">
                        <div class="play-btn"><i class="fa-regular fa-circle-play"></i></div>
                    </div>

                    <!-- YouTube video (avval yashirin bo‘ladi) -->
                    <iframe id="ytVideo" width="100%" height="360" src="" title="YouTube video" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen style="display:none;">
                    </iframe>
                    <div class="text_content">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, repudiandae! Eveniet, tenetur.
                            Rerum voluptatibus excepturi voluptas dolores, tempore hic quos tempora assumenda
                            repudiandae, fuga unde deserunt sapiente asperiores. Architecto, id..</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, repudiandae! Eveniet, tenetur.
                            Rerum voluptatibus excepturi voluptas dolores, tempore hic quos tempora assumenda
                            repudiandae, fuga unde deserunt sapiente asperiores. Architecto, id..</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, repudiandae! Eveniet, tenetur.
                            Rerum voluptatibus excepturi voluptas dolores, tempore hic quos tempora assumenda
                            repudiandae, fuga unde deserunt sapiente asperiores. Architecto, id..</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, repudiandae! Eveniet, tenetur.
                            Rerum voluptatibus excepturi voluptas dolores, tempore hic quos tempora assumenda
                            repudiandae, fuga unde deserunt sapiente asperiores. Architecto, id..</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, repudiandae! Eveniet, tenetur.
                            Rerum voluptatibus excepturi voluptas dolores, tempore hic quos tempora assumenda
                            repudiandae, fuga unde deserunt sapiente asperiores. Architecto, id..</p>
                    </div>
                </div>



            </section>
        </div>
        <section>
            <div class="container_about">
                <h2 class="avout_title">Kompaniyamiz raqamlarda</h2>
            </div>

            <div class=" banner_about"
                style="background: url(img/aboutBak.png); background-repeat: no-repeat;background-position: center;background-size: cover;background-attachment: fixed;">
                <div class="container_about">
                    <ul class="banner_about_box">
                        <li>
                            <h3>42 mln+</h3>
                            <p>Sotilgan mahsulotlar</p>
                        </li>
                        <li>
                            <h3>5478</h3>
                            <p>Xodimlar soni</p>
                        </li>
                        <li>
                            <h3>7 mln+</h3>
                            <p>Xaridorlar O‘zbekiston bo‘ylab</p>
                        </li>
                        <li>
                            <h3>147</h3>
                            <p>Kategoriyalar turi</p>
                        </li>
                        <li>
                            <h3>1478</h3>
                            <p>Xodimlar soni</p>

                        </li>
                        <li>
                            <h3>5412</h3>
                            <p>Xaridorlar dunyo bo‘ylab</p>

                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="teams">
            <div class="container_about">
                <h3 class="avout_title">
                    Bizning jamoa
                </h3>
                <div class="teambox">
                    <div class="teamitem">
                        <div class="teamImg"><img src="img/png-transparent-business-guru-gobind-singh-indraprastha-university-lawyer-minirol-level.png" alt=""></div>
                        <h3 class="teamname">Sanjar Ismoilov</h3>
                        <p class="team_subject">Rahbar</p>
                    </div>
                    <div class="teamitem">
                        <div class="teamImg"><img src="img/png-transparent-business-guru-gobind-singh-indraprastha-university-lawyer-minirol-level.png" alt=""></div>
                        <h3 class="teamname">Sanjar Ismoilov</h3>
                        <p class="team_subject">Rahbar</p>
                    </div>
                    <div class="teamitem">
                        <div class="teamImg"><img src="img/png-transparent-business-guru-gobind-singh-indraprastha-university-lawyer-minirol-level.png" alt=""></div>
                        <h3 class="teamname">Sanjar Ismoilov</h3>
                        <p class="team_subject">Rahbar</p>
                    </div>
                    <div class="teamitem">
                        <div class="teamImg"><img src="img/png-transparent-business-guru-gobind-singh-indraprastha-university-lawyer-minirol-level.png" alt=""></div>
                        <h3 class="teamname">Sanjar Ismoilov</h3>
                        <p class="team_subject">Rahbar</p>
                    </div>
                    <div class="teamitem">
                        <div class="teamImg"><img src="img/png-transparent-business-guru-gobind-singh-indraprastha-university-lawyer-minirol-level.png" alt=""></div>
                        <h3 class="teamname">Sanjar Ismoilov</h3>
                        <p class="team_subject">Rahbar</p>
                    </div>
                    <div class="teamitem">
                        <div class="teamImg"><img src="img/png-transparent-business-guru-gobind-singh-indraprastha-university-lawyer-minirol-level.png" alt=""></div>
                        <h3 class="teamname">Sanjar Ismoilov</h3>
                        <p class="team_subject">Rahbar</p>
                    </div>
                    <div class="teamitem">
                        <div class="teamImg"><img src="img/png-transparent-business-guru-gobind-singh-indraprastha-university-lawyer-minirol-level.png" alt=""></div>
                        <h3 class="teamname">Sanjar Ismoilov</h3>
                        <p class="team_subject">Rahbar</p>
                    </div>
                    <div class="teamitem">
                        <div class="teamImg"><img src="img/png-transparent-business-guru-gobind-singh-indraprastha-university-lawyer-minirol-level.png" alt=""></div>
                        <h3 class="teamname">Sanjar Ismoilov</h3>
                        <p class="team_subject">Rahbar</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="galleriya">
            <div class="container_about">
              <h2 class="avout_title">Biz haqimizda</h2>
             <div class="galleriya_item">
                <a href="img/yxgzTyB-ROc.jpg"><img src="img/yxgzTyB-ROc.jpg" alt=""></a>
                <a href="img/yxgzTyB-ROc.jpg"><img src="img/yxgzTyB-ROc.jpg" alt=""></a>
                <a href="img/yxgzTyB-ROc.jpg"><img src="img/yxgzTyB-ROc.jpg" alt=""></a>
                <a href="img/yxgzTyB-ROc.jpg"><img src="img/yxgzTyB-ROc.jpg" alt=""></a>
                <a href="img/yxgzTyB-ROc.jpg"><img src="img/yxgzTyB-ROc.jpg" alt=""></a>
                  <a href="img/yxgzTyB-ROc.jpg"><img src="img/yxgzTyB-ROc.jpg" alt=""></a>
                <a href="img/yxgzTyB-ROc.jpg"><img src="img/yxgzTyB-ROc.jpg" alt=""></a>
                <a href="img/yxgzTyB-ROc.jpg"><img src="img/yxgzTyB-ROc.jpg" alt=""></a>
                


             </div>
             </div>



        </section>

    </main>



  <section class="banner">
            <div class="container">
                <div class="bannerbox">
                    <div class="bannerleft">
                        <img class="bannerimg" src="img/image 68.png">

                    </div>
                    <div class="bannerright">
                        <h3>Professional mutaxassislar</h3>
                        <p>Mahsulot tanlash, to‘lov usullari, yetkazib berish xizmati bo‘yicha bepul konsultatsiya
                            oling.</p>
                        <a href="#" class="btn">Bepul qo‘ng‘iroq</a>

                    </div>
                </div>
        </section>
    {% endblock %}
  