 
 {% extends 'base.html' %}
{% load i18n static %}
{% load custom_filters %}
{% block title %}{{ contact.seo_title }}{% endblock  %}
        {% block description %}{{ contact.seo_description|safe}}{% endblock  %}
        {% block keywords %}{{ contact.seo_keywords  }}{% endblock  %}

{% block content %}
    <main>
 <main class="faq">
        <div class="container">
        <section>

            <h2 class="avout_title">{{contact.title}}</h2>
            <div class="banner_contact" style="background:url({{contact.image.url}}) no-repeat center center;background-size: cover; background-attachment: fixed;"></div>


        </section>
        <section class="contact_section">
            <div class="adrress_box">
                <div class="adrress_box_left">
                    <div class="adress_item">
                        <span class="title">{% trans "Qo‘llab-quvvatlash:" %}</span>
                        <strong><a href="tel:">{{contact.phone}}</a></strong>
                    </div>
                    <div class="adress_item">
                        <span class="title">{% trans "Do‘konimiz manzili:" %}</span>
                        <strong>{{contact.address}}</strong>
                    </div>
                    <div class="adress_item">
                        <span class="title">{% trans "Elektron pochta xabarlari uchun:" %}</span>
                        <strong><a href="mailto:2482003@energopribor.uz">{{contact.email}}</a></strong>
                    </div>
                </div>
                <div class="adrress_box_right">
                   {{ contact.map|safe }}

                
            </div>

        </section>
        </div>
    </main>
{% endblock %}