{% extends 'base.html' %}
{% load i18n static %}
{% load custom_filters %}

  {% block title %}{{ homeseo.title }}{% endblock  %}
        {% block description %}{{ homeseo.description|safe}}{% endblock  %}
        {% block keywords %}{{ homeseo.keywords }}{% endblock  %}   
{% block content %}

      
  
    <main>
        <section class="hero" >
            {% if banner %}
            <div class="slider_swiper slider22" >
                <div class="swiper-wrapper" >
                    {% for item in banner  %}
                    <div class="swiper-slide"  style="background:{{item.backgrouncolor}}">
                        <div class="container" >
                            <div class="hero_box" >
                                <div class="hero_left" >
                                    <h1>{{item.title}}</h1>
                                    <a href="{{item.link}}" class="btn"  style="background:{{item.colorbutton}}">{% trans "Bizda xarid qiling" %}</a>

                                </div>
                                <div class="hero_right  " >
                                    <img src="{{item.image.url}}" alt="hero" >
                                </div>
                            </div>
                        </div>
                    </div>
                   {% endfor %}
                   

                </div>

                <div class="swiper-pagination" ></div>


            </div>
           {% endif %}


        </section>

        <section class="productsslider" >
            <div class="container" >
                <div class="boxproduct" >
                    <div class="titlbox" >
                        <h2 class="titleclass" style="text-align:left" >
                            {% trans 'Ko‘p qidirilayotgan mahsulotlar' %}
                            </h2>
                        <div class="arrowclass" >
                            <div class="swiper-button-prev swiper-button-previd" id="swiper-button-prev" ></div>
                            <div class="swiper-button-next swiper-button-nextid" id="swiper-button-prev" ></div>
                        </div>
                    </div>
                    {% if  top %}
                    <div class="sliderbox" id="sliderbox" >
                        <div class="swiper-wrapper" >
                            {% for item  in top %}
                        
                            <div class="swiper-slide" >
                                <div class="imgbox" >
                                   <a href="{{ item.get_url }}"> <img src="{{item.image.url}}" alt="product" ></a>
                                     <i class="fa-regular fa-heart favorite-icon"  data-product-id="{{ item.id }}"  onclick="toggleFavorite(this)">

                                     </i>
                                     
                                </div>
                                <div class="infobox" >
                                    <h3><a href="{{ item.get_url }}">{{item.product_name}}</a></h3>
                                    {% if item.price %}
                                    <p>{{ item.price|price_format }}</p>
                                   <a href="{% url 'add_to_cart' item.id %}" class="btn cart">
                                        <i class="fas fa-shopping-cart"></i> {% trans "Savatga qo‘shish" %}
                                     </a>
                                    {% else %}
                                   <a href="{{ item.get_url }}" class="btn cart">
                                       <i class="fas fa-info-circle"></i>{% trans "Batafsil" %}</a>

                                    {% endif %}
                                </div>
                            </div>
                          {% endfor %}
                           

                        </div>
                    </div>
                   {% endif %}
                </div>
            </div>
        </section>

        <section class="categoties" >
            <div class="container" >
                <div class="titlbox" >
                    <h2 class="titleclass" >{% trans 'Ommabop mahsulotlar katalogi' %}
                    </h2>
                    <a href="" class="allcategories" >{% trans 'Barchasini ko‘rish' %}</a>

                </div>
                 {% if populars  %}
                <div class="categoties" >
                    <ul class="categotiesbox" >
                        {% for popular  in populars %}
                        <li class="item{{ forloop.counter }}" >
                            <a href="{{ popular.get_absolute_url }}" >
                                <img src="{{ popular.image.url }}" alt="category" >
                                <p>{{ popular.name }}</p>
                            </a>
                        </li>
                        {% endfor %}
                       

                    </ul>
                </div>
                {% endif %}
            </div>
        </section>
        {% if bannerhome %}
        <section class="banner" >
            <div class="container" >
                <div class="bannerbox" >
                    <div class="bannerleft" >
                        <img class="bannerimg" src="{{bannerhome.image.url}}" >

                    </div>
                    <div class="bannerright" >
                        <h3>{{bannerhome.title}}</h3>
                         <p>{{ bannerhome.text|safe }}</p>
                        <a href="#" class="btn" > {% trans 'Bepul qo‘ng‘iroq' %}</a>

                    </div>
                </div>
        </section>
        {% endif %}
        {% if new %}
        <section class="productsslider" >
            <div class="container" >
                <div class="boxproduct" >
                    <div class="titlbox" >
                        <h2 class="titleclass" style="text-align:left" >{% trans 'Yangi mahsulotlar' %}</h2>
                        <div class="arrowclass" >
                            <div class="swiper-button-prev swiper-button-previd2" ></div>
                            <div class="swiper-button-next swiper-button-nextid2" ></div>
                        </div>
                    </div>
                    <div class="sliderbox" id="sliderbox2" >
                        <div class="swiper-wrapper" >
                              {% for item  in new %}
                        
                            <div class="swiper-slide" >
                                <div class="imgbox" >
                                   <a href="{{ item.get_url }}"> <img src="{{item.image.url}}" alt="product" ></a>
                                     <i class="fa-regular fa-heart favorite-icon"  data-product-id="{{ item.id }}"  onclick="toggleFavorite(this)">

                                     </i>
                                     
                                </div>
                                <div class="infobox" >
                                    <h3><a href="{{ item.get_url }}">{{item.product_name}}</a></h3>
                                    {% if item.price %}
                                    <p>{{ item.price|price_format }}</p>
                                   <a href="{% url 'add_to_cart' item.id %}" class="btn cart">
                                        <i class="fas fa-shopping-cart"></i>{% trans 'Savatga qo‘shish' %}
                                     </a>
                                    {% else %}
                                   <a href="{{ item.get_url }}" class="btn cart">
                                       <i class="fas fa-info-circle"></i> {% trans 'Batafsil' %}</a>

                                    {% endif %}
                                </div>
                            </div>
                          {% endfor %}
                            

                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        {% if brands %}
            <section class="sections" >
                <div class="container" >
                 <h1>{% trans "Hamkorlarimiz" %}</h1>
                </div>

                <div class="logos row1" id="logosrow1" >

                    <div class="swiper-wrapper" >
                        {% for brand in brands %}
                        <img src="{{brand.image.url}}"class="swiper-slide" >
                        {% endfor %}
                        

                    </div>
                </div>
             {% if clients  %}
                <div class="logos row2" id="logosrow2" >
                    <div class="swiper-wrapper" >
                        {% for client in clients  %}
                        <img src="{{client.image.url}}" class="swiper-slide" >
                      {% endfor %}
                    </div>
                </div>
            {% endif %}
            </section>
         {% endif %}
        {% if bannerfoter %}
            <section class="formbox" >
                <div class="container" >
                    <div class="infobox" >
                        <div class="formbox_left" >
                            <h3>{{bannerfoter.title}}</h3>
                            <p>{{bannerfoter.text|safe}}</p>
                        </div>
                        <div class="formbox_right" >
                            <form action="" class="formclass" >
                                <input type="text" placeholder="{% trans "Telefon raqamingiz" %}" >
                                <button class="btn" >{% trans "Bepul konsultatsiya" %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}


    </main>
{% endblock  %}
  