
{% extends 'base.html' %}
{% load i18n static %}
{% load custom_filters %}

{% block content %}
<main class="faq">
    <div class="container">
    <h2 class="avout_title">Bo‘sh ish o‘rinlari</h2>
    
             <section>
        
            <ul class="vacansiyabox">
                <li><a href="">Sotuv menejeri</a></li>
                <li><a href="">Ofis menejeri</a></li>
                <li><a href="">Yuk tashuvchi</a></li>
                <li><a href="">Haydovchi</a></li>
                <li><a href="">SMM menejeri</a></li>
                <li><a href="">Direktor yordamchisi</a></li>
                <li><a href="">Haydovchi</a></li>
                <li><a href="">Direktor yordamchisi</a></li>
            </ul>
        </section>
        <section>
            <div class="text_content">
                <p><b><strong>Elektropriboruz’da</strong></b> ishlashni xohlagan hamyurtlarimiz uchun qulay sharoitlar muhayyo. Bizda barcha ishlash uchun zamonaviy sharoitlar, yuqori maosh, ahil jamoa mujassam.</p>

<p>Ishga topshiruvchilar yuqoridagi vakansiyalar bo‘yicha ushbu manzilga o‘z rezyumelarini yuborishlarini so‘rab qolamiz:<br><b> <strong>info@energopribor.uz

</strong></b></p>

<p><b><strong>Sizni jamoamizda ko‘rishdan mamnun bo‘lamiz!.</strong></b></p>
            </div>
        </section>

    </section>
    </div>
</main>
{% endblock %}

 